Source: vpux-elf
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Timo Aaltonen <tjaalton@debian.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 build-essential,
 cmake,
 intel-npu-firmware-headers,
Standards-Version: 4.6.2
Homepage: https://github.com/openvinotoolkit/vpux_plugin_elf.git

Package: vpux-elf
Architecture: amd64
Multi-Arch: same
Depends:
 ${misc:Depends},
Description: Dependency for the Linux NPU Driver
 This is a package of the openvinotoolkit/vpux_plugin_elf repo, which is a
 dependency for the linux-npu-driver repo.
